@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
font-family: "Lato", sans-serif;
margin: 0;
padding: 0;
scroll-behavior: smooth;
}


html {
  scroll-behavior: smooth;
}
body{
    background-color: rgba(255, 255, 255, 0.808);
}
header{
    background-color: rgb(10, 33, 109);
    width: 100%;
    height:80px ;
    position: fixed;
    top:0;
    color: white;
}
header strong{
    float: left;
    margin-left: 110px;
    font-size: 25px;
    margin-top: 24px;
}

strong:hover{
    font-size: 26px;
    transition: 0.2s;
    color: rgba(255, 255, 255, 0.877);
}

nav{
    float: right;
    margin-top: 29px;
    margin-right: 110px;
}
nav a{
    margin-left: 10px;
    text-decoration: none;
    color: rgb(46, 15, 114);
    color: white;
}
nav a:hover{
    color: rgba(255, 255, 255, 0.384);
    transition: 0.5s;
}
#saibamais{
    height: 80vh;
    padding-top: 2%;
}
.MindPro{
width: 100%;
margin-bottom: 2%;
margin-top: 3%;
}

.MindPro img{
    width: 100%;   
}
.chamada{
background-color: rgba(0, 0, 0, 0.507);
padding: 25px;
border-radius: 6px;
color: white;
width: 350px;
position:absolute;
top:72vh;
left: 30px;
}
.chamada:hover{
    background-color: rgba(0, 0, 0, 0.801);
    transition: .5s;
    width: 340px;
    }


.MindPro2{
    width: 70%; 
    margin-left: 30px;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
}
.MindPro2 label{
    font-size: 40px;
}
.caps img{
    height: 360px;
    float:right;
    margin-top: -60vh;
}

.MindPro3{
    padding: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    margin-bottom: 50px;
    background-color:  rgba(10, 33, 109, 0.912);

}
.MindPro3 p{
    margin-bottom: 15px;
    text-align:left;

}
.MindPro3 h1{
    margin-bottom: 18px;
    font-size: 25px;

}
.MindPro3 h3{
    margin-bottom: 19px;
    text-align:left;
}

.MindPro3 aside img{
    height: 260px;
    float:right;
    margin-top: -60vh;
    margin-right: 25px;
    border-radius: 20px;
}

.MindPro3 aside img:hover{
    height: 265px;
    float:right;
    margin-top: -62vh;
    border-radius: 35px;
    transition: .5s;
}

.Contato{
text-align: center;
width: 100%;
height: 250px;
margin-bottom: 220px;
}
.Contato h2{
    margin: 7px;
}

#FormContato{
    display: block;
    margin: 10px;
    margin-left:36%;
    max-width:380px;
}

#FormContato input, textarea {
width: 100%;
padding: 8px;
margin: 1px;
margin-bottom: 10px;
border: 1px solid #858080;
border-radius: 5px;
}

#FormContato button{
margin:2px;
background-color: rgba(10, 20, 109, 0.764);
border-radius: 5px;
color: white;
border: none;
padding: 9px;
}
#FormContato button:hover{
    background-color: rgb(10, 20, 109);
    transition: 0.5s;
}


.MindPro4{
    padding: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    margin-top:-30px;
    background-color:  rgb(255, 255, 255);
}
.MindPro4 h1{
    margin-bottom: 10px;
    font-size: 30px; 
    text-align: center;
}

.MindPro4 article{
    margin-top: 50px;
    margin-left: 22vh;
    width: 250px;
    text-align: center;
    float: left;
}

.MindPro4 article img{
    width: 267px;
    margin-bottom: 30px;
    border-radius: 50%;
}
.MindPro4 article img:hover{
    width: 260px;
    margin-bottom: 30px;
    transition: 0.5s;
}

.MindPro4 p{
    margin-bottom: 12px;
    text-align: center;
}
#compre{
    margin-top:90px;
    width: 600px;
    margin-left: -78vh;
}
#compre div{
 background-color: blue;
 height: 10px;
 border-radius: 5px;
 margin-bottom: 10px;
 }
#compre a{
   text-decoration: none;

}
#compre a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .5s;
 }
 
footer{
    padding: 27px;
    width: 100%;
    background-color:  rgba(10, 33, 109, 0.912);
    position:relative;
    top:100%;
    color:rgb(255, 255, 255);
    margin-top:-525px;
    float:left;
}

footer p{
    text-align: center;
    padding: 2px;
}