@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
font-family: "Lato", sans-serif;
scroll-behavior: smooth;
padding: 0;
margin: 0;
}
body{
    background-color: rgba(255, 255, 255, 0.808);
    height: 100%;
}
nav{
    background-color:  rgb(10, 33, 109);
    min-height: 12vh;
    height: 100%;
    position: relative;
}
.navbar-brand>strong {
    margin: 7vw;
    font-size: 1.2em;
}
.navbar-nav {
    margin-right: 7vw;
}

.image-container {
    margin-top: -15vh;
  }
  .overlay-text {  
    margin-bottom: 15%;
    margin-left: 2.5vw;
    width: 40%; 
    position: absolute;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 2em;
    border-radius: 1em;
    color: white;
  }
  .overlay-text p:hover{
    transition: .5s ease-in-out;
    color: #dadadaa2;
  }
.overlay-text:hover{
    background-color: rgba(0, 0, 0, 0.801);
    transition: .5s ease-in-out;
    border-radius: 1.5em;

    }

.saibamais h1{
    margin: 1em;
}
.saibamais{ 
    background-color: rgb(255, 255, 255);
    width: 100%; 
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 2em;
}
.MindPro2{
padding: 2em;
text-align: center;
width: 60vh;
}
.galeria img{
    padding:1vh;
    width: 50vh;
}


.MindPro3{
    padding-top: 2em;
    color: white;
    background-color:  rgba(10, 33, 109, 0.912);
}

.MindPro3 h1, p{
    margin: 1em;
}
#btn1, #btn2, #btn3 {
    padding: 0.8vh;
    border-radius: 1em 1em 0 0;
    text-decoration: none;
    border: none;
    margin-left: 0.5em;
}
#btn1:hover,
#btn1.active{
    color:white;
  background-color: rgba(10, 33, 109, 0.912);;  
  transition: 0.5s ease-in-out;
}
#btn2:hover,
#btn2.active{
    color:white;
    background-color: rgba(10, 33, 109, 0.912);;  
    transition: 0.5s ease-in-out;
  }

#btn3:hover,
#btn2.active{
    color:white;
    background-color: rgba(10, 33, 109, 0.912);;  
    transition: 0.5s ease-in-out;
  }

#showcontent{
    text-align: center;
    width: 80%;
    padding: 0.5em;
    background-color: rgba(10, 33, 109, 0.912);
    border-radius: 1em;
}


.Contato{
margin: 5vh 0 5vh 0;
}
#FormContato input, textarea {
text-align: center;
padding: 1em;
margin: 2px;
margin-bottom: 10px;
border: 1px solid #858080;
border-radius: 5px;
}

#FormContato button{
margin:2px;
background-color: rgba(10, 20, 109, 0.764);
border-radius: 5px;
color: white;
border: none;
padding: 9px;
}
#FormContato button:hover{
    background-color: rgb(10, 20, 109);
    transition: 0.5s;
}

.MindPro4 article{
    margin: 5em;
    width: 250px;
    text-align: center;
}

.MindPro4 h1, h4{
    padding: 1em;
    text-align: center;
}

.MindPro4 article img{
    width: 30vh;
    border-radius: 40%;
}
.MindPro4 article img:hover{
    width: 31vh;
    margin-bottom: 2vh;
    transition: 0.5s;
}

.MindPro4 p{
    font-size:larger;
    margin-bottom: 1em;
    text-align: center;
}


#compre{
    width: 80%;
 background-color: blue;
 height: 10px;
 border-radius: 5px;
 margin-bottom: 10px;
 }

 #compre h1{
    padding: 0.5em;
 }
#compre a{
   text-decoration: none;

}
#compre a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .5s;
 }

 
footer{
    margin-top: 12em;
    background-color:  rgba(10, 33, 109, 0.912);
    color:rgb(255, 255, 255);

}

footer p{
    text-align: center;
    padding: 0.3em;
}

@media (max-width: 600px) {
 .overlay-text {  
        margin-bottom: 3.5vh;
        margin-left: 5vw;
        width: 65%; 
        position: absolute;
        background-color: rgba(0, 0, 0, 0.507);
        padding: 0.4em;
        border-radius: 0.8em;
        color: white;
        text-align: center;
      }

      .image-container {
        margin-top: 0.0vh;
      }
      .overlay-text h2{
        font-size: 1em;
      }
      .overlay-text p{
        font-size: 0.7em;
      }

      footer{
        margin-top: 20em;
        background-color:  rgba(10, 33, 109, 0.912);
        color:rgb(255, 255, 255);
  }

}